{% load static%}
<!DOCTYPE html>
<html lang="en">
 
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="style5.css">
    <title>Contact us Page</title>
</head>
<body>
    <a href = "{% url 'home_page' %} "> HOME </a>
        <a href = "{% url 'about_page' %} "> ABOUT </a>
        <a href = "{% url 'services_page' %} "> SERVICES </a>
        <a href = "{% url 'gallery_page' %} "> GALLARY </a>
    <!-- Header section -->
    <header>
        <button class="hamburger" id="hamburger-icon">
            <span onclick="openNavbar()"> ☰</span>
        </button>
        <div class="logo">SBK IT SOLUTIONS</div>
        <nav id="nav-menu">
            <ul>
                <li><a href="Home.html">Home</a></li>
                <li><a href="About.html">About</a></li>
                <li><a href="Services.html">Services</a></li>
                <li><a href="Gallery.html">Gallery</a></li>
                <li><a href="Contact.html">Contact</a></li>
            </ul>
        </nav>
        <button class="reachUs-button">Call us</button>
    </header>
 
    <!-- banner section  -->
    <section class="banner">
        <img src="{% static 'image/i.jpg' %}" alt="Welcome to our Contact Us page">
            
        <h1>Get in Touch With Us</h1>
        <p>We're here to answer any questions you may have.</p>
    </section>
 
    <!-- Contact form -->
    <section class="contact-form">
        <div class="form-container">
            <h2>Your Details</h2>
            <form action="#" method="POST">
 
                <label for="name">Name: </label>
                <input type="text" id="name" name="name" required>
 
                <label for="email">Email: </label>
                <input type="email" id="email" name="email" required>
 
                <label for="phone">Phone: </label>
                <input type="tel" id="phone" name="phone">
 
                <label for="message">Message: </label>
                <textarea id="message" name="message" rows="4" required></textarea>
 
                <button type="submit" class="submit-button">Submit</button>
            </form>
        </div>
    </section>
 
    <!-- Company contact info -->
    <section class="contact-info">
        <h2>Contact Information</h2>
        <address>
            SBK IT SOLUTIONS<br>
            2567 kampala Uganda<br>
            JOMAI, 12345<br>
            Phone: <a href="tel:1234567890">070-256-4562</a><br>
            Email: <a href="mailto:info@example.com">infor.sbk@gmail.com</a>
        </address>
    </section>
 
    <!-- Footer section -->
    <footer>
        <p>© 2023 SBK IT SOLUTIONS. All rights reserved.</p>
    </footer>
    <script src="script.js"></script>
</body>
 
</html> 
</footer>
</body>
</html>