
    {% extends "Base.html" %}
    {% load crispy_forms_tags %}
    {% load static %}
    {% block content %}

<div class = "container">
    <form method = "POST">
        {% csrf_token %}
        {{form}}
        <input type = "submit" class = "btn btn-primary">
    </form>
    {% if msg %}
      {{msg}}
    {% endif %}
    <table class = "table table-unstriped">
        <thead>
            <tr>
                <th scope = "col">EmployeeID</th>
                <th scope = "col">FirstName</th>
                <th scope = "col">LastName</th>
                <th scope = "col">Address</th>
                <th scope = "col">Role</th>
                <th scope = "col">Contact</th>
                <th scope = "col">Email</th>
                <th scope = "col">WorkShedule</th>
            </tr>
        </thead>
        <tbody class="table-warning">
           {% for employee in employees %}
        <tr>
            <th scope = "row">{{employee.EmployeeID}}</th>
            <td>{{employee.FirstName}}</td>
            <td>{{employee.LastName}}</td>
            <td>{{employee.Address}}</td>
            <td>{{employee.Role}}</td>
            <td>{{employee.Contact}}</td>
            <td>{{employee.Email}}</td>
            <td>{{employee.WorkShedule}}</td>
            <td>
                <a href = "{%  url 'edit_employee_page' employee.EmployeeID %}" onclick = " return confirm ('ARE YOU SURE YOU WANT TO UPDATE THIS RECORD?')">Update</a>|
                <a href = "{% url 'delete_employee_page' employee.EmployeeID%}"
                onclick = " return confirm ('ARE YOU SURE YOU WANT TO DELETE THIS RECORD?')">
                Delete
                </a>|
                <a href = "{%  url 'print_employee_page' employee.EmployeeID %}" onclick = " return confirm ('ARE YOU SURE YOU WANT TO PRINT THIS RECORD?')">Print</a>
            </td>            
        </tr>
           {% endfor %} 
        </tbody>
    </table>
</div>    
   </body>
    {% endblock content %}